.flex {
    display: flex;
}
.wrapper {
    display: flex;
    margin: 20px 50px;
    
}
.leftText{
    width: 400px;
}
.img{
    display: flex;
    width: 650px;
}
.divImg{
    margin: auto;
}

.ul{
    margin-bottom: 5px;

}
li{
    margin-bottom: 5px;
}